<?xml version="1.0"?>
<root xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="shell" params="name parent *origin">
      
    <joint name="${name}_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}_link" />
      <insert_block name="origin" />
    </joint>

   <link name="${name}_link">
      <inertial>
        <mass value="4" />
        <origin xyz="0 0 0" />
        <inertia ixx="75.0" ixy="0.0" ixz="0.0"
          iyy="75.0" iyz="0.0"
          izz="75.0" />
      </inertial>
      <visual>
        <origin xyz="0 0 -0.04" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://robotino_description/meshes/squirrel_assembly.stl"/>
        </geometry>
        <material name="lightGrey">
          <color rgba="0.9 0.9 0.9 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0.05" rpy="0 0 -0.7"/>
        <geometry>
          <mesh filename="package://robotino_description/meshes/base_shell_collision.stl"/>
        </geometry>
      </collision>
    </link>

    <gazebo reference="${name}_link">
      <gravity>true</gravity>
      <self_collide>false</self_collide>
      <material>Gazebo/LightGrey</material>
    </gazebo>

  </xacro:macro>

</root>

